{% extends "layout.html" %}
{% block body %}
  <h2>All Items</h2>
  <form action="{{ url_for('update_user') }}" method=post>
    <table class=users>
      <tr>
        <th>#
        <th>Nom
        <th>Prenom
        <th>Mail
        <th>Telephone
      {%- for user in users %}
      <tr class=title>
        <td>{{ user.id }}
        <td>{{ user.nom }}
        <td>{{ user.prenom }}
        <td>{{ user.mail }}
        <td>{{ user.telephone }}
      {%- endfor %}
    </table>
    <p>
      <input type=submit value="Update">
      <a href="{{ url_for('new') }}">New item</a>
  </form>
{% endblock %}
